html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Noto Serif', serif;
}

:root {
  --color-grey: #919191;
  --color-red: rgb(255, 0, 0);
  --color-red-transparent: rgba(255, 0, 0, 0.5);
  --color-red-dark: #d51919;
  --color-grey-transparent: rgba(255, 255, 255, 0.05);
  --color-grey-transparent1: rgba(255, 255, 255, 0.01);
  --color-white: #ffffff;
  --color-black: #000000;
}

@font-face {
  font-family: Andantino;
  src: url(../fonts/Andantino-script.ttf);
}

html {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: #1d1d1d;
  color: var(--color-white);
  font-size: 18px;
  background: linear-gradient(45deg, var(--color-grey-transparent) 25%,
  transparent 25%, transparent 75%, var(--color-grey-transparent) 75%),
  linear-gradient(45deg, var(--color-grey-transparent) 25%, transparent 25%,
    transparent 75%, var(--color-grey-transparent) 75%) 0.1875em 0.1875em,
  radial-gradient(at 50% 0, #484847, #090909);
  background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
  background-repeat: repeat;
}

.wrapper {
  padding: 10px;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 10px 300px 10px var(--color-black);
  background-image: linear-gradient(to left, transparent 0%, transparent 20%, rgba(255, 255, 255, 0.05) 50%,
  transparent 80%);
}

.main-header {
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

.top-header {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  font-size: 26px;
}

.main-link {
  padding: 0 10px;
  display: block;
  text-decoration: none;
}

.main-link:hover,
.main-link:focus {
  background: var(--color-grey-transparent);
  border-radius: 10px;
}

.main-link:active {
  background: var(--color-grey-transparent1);
}

.logo span:first-child {
  color: var(--color-grey);
}

.layer-name {
  padding: 0 0 0 20px;
  display: inline-block;
  letter-spacing: 3px;
  word-spacing: 6px;
  font-size: 30px;
  color: var(--color-white);
  text-shadow: 5px 5px 5px black;
}

.logo p {
  color: var(--color-grey);
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
  letter-spacing: 0.5em;
  padding-left: 20px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 20px;
}
.header-contacts>div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
} 

.header-contacts h4 {
  margin:0;
  color: var(--color-red-dark);

}

.header-contacts a {
  color: var(--color-grey);
  text-decoration: none;
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--color-white);
}

.header-contacts a:active {
  color: #b7b7b7;
}

.main-menu {
  margin-top: 20px;
  padding: 10px;
  background: var(--color-black);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.8);
}
.open-menu{
  display:none;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid var(--color-grey);
  background-color: rgba(0,0,0,0.4);
  color: var(--color-white);
  border-radius: 50%;
  z-index:2;
}
.main-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.main-menu a {
  position: relative;
  max-width: 250px;
  padding: 10px;
  display: block;
  color: var(--color-white);
  font-size: 18px;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
  z-index: 1;
}

.main-menu a:hover,
.main-menu a:focus{
  opacity:0.6;
  color:var(--color-red);
}
.main-menu a:active{
  opacity:0.4;
  color:var(--color-red);
}


.bottom-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--color-grey-transparent);
}

.bottom-header .photo {
  min-width: 300px;
  flex-grow: 2;
  background-color: #eda26b;
  background-image: url(../img/layer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  background-position-x: 50%;
  color: var(--color-black);
}

.photo p {
  margin-top: 0;
  text-align: center;
  font-family: 'Andantino', arial, cursive;
  font-size: 38px;
}
button.secondary-nav-description{
  display:none;
  width:100%;
  max-width:none;
}
.secondary-nav {
  margin: 0;
  flex-grow: 0;
  padding: 0;
  padding-left: 110px;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  font-size: 16px;
}

.secondary-nav a {
  display: block;
  text-decoration: none;
}

.secondary-nav-description {
  margin: 10px 0;
  max-width: 240px;
  color: var(--color-white);
  border-radius: 10px;
  border: 2px solid var(--color-grey);
  padding: 10px;
  background: rgba(0,0,0,0.4);
  transition: all 0.5s;
  box-shadow: 5px 5px 10px 0 black;
}

.secondary-nav li {
  position: relative;
  margin:10px;
}

.secondary-nav-picture {
  position: absolute;
  height: 60px;
  width: 80px;
  top: 50%;
  margin-top: -30px;
  left: -100px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
  box-shadow: 5px 5px 10px 0 black;
}

.secondary-nav-picture:nth-child(2n) {
  background-image: url('../img/human-rights.jpg');
}

.secondary-nav-picture:nth-child(2n+1) {
  background-image: url('../img/human-rights.jpg');
}

.administrative-case .secondary-nav-picture {
  background-image: url('../img/human-rights.jpg');
}

.human-rights .secondary-nav-picture {
  background-image: url('../img/human-rights.jpg');
}

button.secondary-nav-description:hover,
button.secondary-nav-description:focus{
  background-color: var(--color-red-transparent);
}
button.secondary-nav-description:active{
  background-color: var(--color-red);
}
.secondary-nav a:hover .secondary-nav-description,
.secondary-nav a:focus .secondary-nav-description {
  background-color: var(--color-red-transparent);
  transform: translateX(20px);
}

.secondary-nav a:active .secondary-nav-description {
  background-color: var(--color-red);

}

.secondary-nav a:focus .secondary-nav-picture,
.secondary-nav a:hover .secondary-nav-picture {
  animation-name: backgroundSize;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes backgroundSize {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 125%;
  }
  100% {
    background-size: 150%;
  }
}

.main-content h1 {
  font-size:30px;
  color: var(--color-red-dark);
  text-align: center;
}

.main-content hr {

  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, transparent 0%, #000 50%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0%, #000 50%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0%, #000 50%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0%, #000 50%, transparent 100%);
}

.description-text {
  padding: 10px 40px;
  letter-spacing: 1px;
  max-width: 800px;
  margin: auto;
  text-align: left;
  font-size: 16px;

}

.description-text p {
  text-indent: 20px;
  margin-bottom: 40px;
  padding: 20px;
  line-height: 40px;
  background: rgba(0,0,0,0.4);
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.8);
}

.main-footer {
  background: var(--color-black);
  color: var(--color-white);
}

.container {
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-between;
}
.about-us{
  max-width:200px;
}
.modal-button {
  background: var(--color-red-dark);
  border: 2px solid #6d0808;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  color: var(--color-white);
  text-shadow: 3px 3px 3px black;
}
.modal-button:hover,
.modal-button:focus{
  opacity:0.5;
}
.modal-button:active {
  opacity: 0.2;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}


.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}


@media (max-width: 850px) {
  .main-menu{
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    margin-top:0;
    z-index: 1;
    max-width: 300px;
  }

  .main-menu ul{
    flex-direction: column;
  }
  .open-menu{
    display:block;
  }
  .container {
    flex-direction:column;
    justify-content: space-between;
  }
  .header-contacts{
    margin:10px 0;
    margin-top:50px;
    align-items: center;
  }
  .main-header .header-contacts{
    margin-left:auto;
    align-items: flex-end;
  }
  .secondary-nav {
    display:none;
    margin:auto;
  }
  .bottom-header{
    display:block;
  }
  button.secondary-nav-description{
    display:block;
  }
}

@media only screen and (max-width: 500px) {
  .top-header{
    flex-direction: column;
  }



}
.visibleSecondaryNav{
  display:flex;
}
.visibleMainMenu{
  display:block;

}
.pattern{
  position:fixed;
  z-index:0;
  width:100%;
  height:100%;
  top:0;
  left:0;
}
@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
